h1 {
  font-size: 7.7vh;
  text-decoration: underline;
}
.container,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5.9vh;
  margin-top: 5.9vh;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#no,
#no1 {
  border: none;
  border-bottom: 2.2px solid yellow;
  /* width:fit-content; */
  max-width: 6vw;
  margin-right: 1.46vw;
  /* margin-top:100px; */
  scroll-behavior: none;
}


* {
  background: black;
  color: pink;
  font-size: 47px;
}
button {
  margin-right: 2.2vw;
}
.btn p {
  border-bottom: 2px solid red;
}
