h1 {
  font-size: 5rem;
  text-decoration: underline;
}
.container,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5em auto;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
#no,
#no1 {
  border: none;
  border-bottom: 2px solid aqua;
  /* width:fit-content; */
  max-width: 5.9vw;
  margin-right: 1.46vw;
  /* margin-top:100px; */
  scroll-behavior: none;
}


* {
  background: black;
  color: skish-blue;
  font-size: 47px;
}
button {
  margin-right: 2.2vw;
}
.btn p {
  border-bottom: 2px solid blue;
}

/* Button */
.button-45 {
  align-items: center;
  background-color: #ffe7e7;
  background-position: 0 0;
  border: 2px solid #fee0e0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #d33a2c;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  line-height: 33.4929px;
  list-style: outside url(https://www.smashingmagazine.com/images/bullet.svg) none;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
  font-size: 14px;
}

.button-45:active,
.button-45:hover,
.button-45:focus {
  outline: 0;
}

.button-45:active {
  background-color: #d33a2c;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}

.button-45:hover {
  background-color: #ffe3e3;
  border-color: #faa4a4;
}

.button-45:active:hover,
.button-45:focus:hover,
.button-45:focus {
  background-color: #F08080;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #ffffff;
}
